.btn {
    border: 2px sol    id black;
    padding: 10px 20px;
    display: inline-block;
    margin: 40px;
    transition: color 1s, background-color 0.7s ease-in 1s;
}

.btn:hover {
    background-color: coral;
    color: white;
}