body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    height: 100vh;
    font-family: sas-serif;
}

.box {
    background-color: black;
    color: white;
    width: 300px;
    height: 300px;
    text-align: center;
    font-family: sans-serif;
    border: 2px solid white;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}

.box::before {
    content: "";
    height: 310px;
    width: 310px;
    background: linear-gradient(rgb(18, 42, 180), rgb(125, 98, 211));
    position: absolute;
    z-index: -1;
    top:-5px;
    right: -5px;


}