/* .container {
    font-size: 20px;
}

h1 {
    font-size: 4em;
    margin: 0px;
}

p {
    font-size: 1.5em;
}

.small {
    font-size: 0.7em;
} */

body {
    margin: 0px;
    width: 50%;
}

.container {
    background-color:aquamarine;
    height: 100vh;
    width: 100%;
}

.side {
    background-color: blue;
    height: 100vh;
    width: 100vw;
    margin-left: 100%;
}

.small {
    background-color:cadetblue;
    width: 100svw;
    height: 100vh;
}

h1 {
    margin: 0px;
}