/* * {
    border: green 3px solid;
} */

input[type = "number"] {
    background: gold
}

a[href*="wiki"] {
    color:yellowgreen
}

a[href^="#"] {
    color:blueviolet
}

body {
    font-family: Merriweather, serif
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Work Sans", sans-serif;
}

ol li {
    border: 1px solid red;
}

h2.score {
    background-color:aquamarine;
}

h2 + p {
    color: deeppink;    
}

h1:hover {
    color: yellowgreen;
}

button:active { 
    background-color: pink;
}

input:focus {
    border: 5px solid green
}

/* pusedo elements */

p::first-line {
    color: blue
}