body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: sans-serif;
}

.spinner {
    width: 300px;
    height: 300px;
    background: conic-gradient(rgb(7, 93, 93), rgb(23, 122, 116), rgb(72, 167, 145), rgb(57, 206, 206), rgb(7, 93, 93));
    border-radius: 50%;
    border-radius: 4px solid white;
    box-shadow: inset 0px 0px 110px -70px black;
    position: relative;
    animation: spin linear 1.5s infinite;
}

.spinner::after {
    content: "";
    background-color: white;
    height: 80%;
    width: 80%;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}
