body {
  background-color: rgb(233, 223, 255);
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px;
  color: rgb(44, 44, 44);
}

h1 {
  color: rgb(83, 49, 156);
}

.container {
  background-color: white;
  width: 100%;
  max-width: 900px;
  display: flex;
  box-sizing: border-box;
  border-radius: 18px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 64px 64px 64px;
  position: relative;
}

.tabs {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-transform: uppercase;
  font-weight: bold;
  color: rgb(200,174,255);
  padding: 16px;

}

.tabs p {
  padding: 8px;
}

.tabs p:hover {
  color: rgb(83,49,156);
  cursor: pointer;
}

.tabs p.active {
  color: rgb(83,49,156);
  position: relative
}

.line {
  height: 3px;
  position: absolute;
  background-color: rgb(231, 231, 231);
  width: 100%;
  top: 98px;
}
/* 
.underline {
  height: 4px;
  background-color: purple;
  width: 200px;
  display: inline-block;
  position: absolute;
  bottom:0;
  left:0
} */

.tabs .active::before {
  content: "";
  width: 200%;
  height:4px;
  background-color: rgb(83, 49, 156);
  position: absolute;
  bottom: -32px;
  z-index: 2;
  left: -50%;
  border-radius: 10px;;
}

.toggle-wrapper {
  display: flex;
  margin: 40px 0 0 0 ;
}

.toggle-wrapper img {
  height: 40px;
  margin: 0 16px;
}

.toggle {
  background-color: rgb(83, 49, 156);
  height: 32px;
  width: 150px;
  box-sizing: border-box;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4px 0 16px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
}

.toggle span:first-of-type {
  color: white;
}

.toggle span:last-of-type {
  background-color: white;
  color: rgb(83, 49, 156);
  padding: 3px 16px;
  border-radius: 20px;
}

.sessions-card {
  background-color: rgb(250, 247, 255);
  text-align: center;
  padding: 32px;
  width: 50%;
  text-transform: uppercase;
  margin: 40px 0;
  border-radius: 10px;
  box-sizing: border-box;
}

.sessions-card p {
  color: rgb(44, 44, 44);
  font-size: 12px;
  font-weight: bold;
  margin: 12px 0 0 0;
}

.sessions-card .number {
  color: rgb(83, 49, 156);
  font-size: 56px;
  font-weight: bold;
  margin: 0;
}

.description {
  line-height: 32px;
  margin: 16px 0 32px 0;
}

.slider {
  width: 100%;
  position: relative;
  margin-bottom:5%;
}

.slider .bar {
  background-color: rgb(248, 248, 248);
  border: rgb(210, 210, 210) solid 1px;
  width: 100%;
  height: 16px;
  border-radius: 20px;
}

.slider .progress {
  width: 31%;
  height: 18px;
  background-image: linear-gradient(to right top, #230a5e, #250a68, #260b72, #270b7c, #270c86, #290e8e, #2a0f97, #2c119f, #3013a7, #3516af, #3918b7, #3e1bbf);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  position: absolute;
  top:0;
  left:0;
}

.slider .point {
  height: 24px;
  width: 24px;
  background-color: rgb(70, 25, 167);
  border: 2px solid white;
  border-radius: 50%;
  position: absolute;
  top: -4px;
  left: 94%;
  transition: 0.15s transform ease;
}

.slider .point:hover {
  cursor: pointer;
  transform: scale(1.2)
}

.scale {
  width: 100%;
}

.slider .scale ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-between;
  padding: 0;
  font-weight: bold;
  color: rgb(166,166,166)
}



.card-wrapper {
  display: flex;
}

.card {
  background-color: rgb(250, 247, 255);
  border-radius: 16px;
  margin: 16px;
  box-shadow: 0px 3px 11px 1px rgba(0,0,0,0.1);
  padding: 16px 32px;
  text-align: center;
  font-weight: bold;
  color: rgb(83, 49, 156);
  transition: 0.3s transform ease;
  position: relative;
}

.card:hover {
  transform: scale(1.05)
}

.card .price {
  color: black;
  font-size: 42px;
  padding: 10px;
}

.card .top-section p {
  margin: 0;
  text-transform: uppercase;
}

.top-section {
  padding: 8px;
}

.card hr {
  width: 30%;
  border: 1px solid rgb(210,210,210);
  border-radius: 2px;
}

.card button {
  border: none;
  color: white;
  background-color: rgb(83, 49, 156);
  padding: 16px;
  border-radius: 10px;
  font-weight: bold;
  transition: 0.15s transform ease;
  margin: 8px;
}

.card button:hover {
  cursor: pointer;
  transform: scale(1.05)
}

.card .save {
  color: white;
  background: linear-gradient(to right top, #230a5e, #250a68, #260b72, #270b7c, #270c86, #290e8e, #2a0f97, #2c119f, #3013a7, #3516af, #3918b7, #3e1bbf);
  position: absolute;
  width: 100%;
  top: -22px;
  right:0px;
  padding: 2px;
  border-radius: 10px 10px 0px 0px;
}

@media only screen and (max-width: 750px) {
  .card {
    width: 100%;
  }

  .card-wrapper {
    flex-wrap: wrap-reverse;
  }
}

@media only screen and (max-width: 550px) {
  .card {
    width: 100%;
  }

  .card-wrapper {
    flex-wrap: wrap-reverse;
  }

  .container {
    padding: 0 16px;
  }

  body {
    padding: 16px;
  }

  .sessions-card {
    width: 100%;
  }

  h1 {
    margin-bottom: 24px;
  }
}