/* .box {
    border: 2px solid black;
    height: 400px;
    width: 400px;
    background-image: linear-gradient(to bottom right, cyan, yellow,magenta)
} */


/* .box {
    border: 2px solid black;
    height: 400px;
    width: 400px;
    background-image: radial-gradient(ellipse, rgb(140, 199, 199), rgb(186, 235, 243), pink);
} */

.box {
    height: 400px;
    width: 400px;
    background-image: conic-gradient(cyan, yellowgreen, yellow, cyan);
}
