#small_text, #big_text {
    font-family: Libre Baskerville;
    color:white;
    font-size: 2rem;
}

.poster {
    width: 50%;
    height: 50%;
    margin-left: 25%;
    margin-top: 5%;
    color: white;
    text-align: center;
}

.motivation-img {
    border: 5px solid white;
    width: 100%;
}